body
{
	font-family: Verdana,sans-serif;
}
.navbar
{
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	background-color: #555555;
	display: block;
	box-shadow: 0px 3px 12px #AAA;
}
.navbar .left
{
	float: left;
	margin-left: 25%;
	z-index: 99999999;
}
.navbar .right
{
	float: right;
	margin-right: 25%;
	z-index: 99999999;
}
.navitem
{
	z-index: 99999999;
	padding: 12px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	text-decoration: none;
	background-color: #555555;
	color: white;
	display: block;
	float: left;
}
.navitem.active
{
	background-color: #48bb48;
}
.navitem:hover:not(.active)
{
	background-color: black;
}
.content
{
	position: absolute;
	top: 60px;
	left: 25%;
	right: 25%;
}